<h1> Friends </h1>
<div contaner-fluid>
	<% @friends.each do |f| %>
	<p><%= f.name %>: <%= f.monthbirth %>/<%= f.daybirth %></p>
	<% end %>
</div>

<%= @token %>

<%= link_to 'new friend', new_friend_path, :class =>"btn btn-success" %>

